extends layout
mixin matchrow(match)
  tr
    td: a.pastGame(data-matchid="#{match._id}") #{match.home} VS #{match.away}
    
    td 
        if match.sets.length
            span #{match.get("winner")}
        else
            button.start.btn.btn-primary(data-home=match.home,  data-away=match.away) Start Match 
mixin standingsrow(player, order)
  tr
    td= order+1
    td= player.name
    td= t.getPlayerWinnings(player.name)
    td= t.getPlayerLosings(player.name)
    td= t.getPlayerSetsWon(player.name)
    td= t.getPlayerSetsLost(player.name)
    

block content
    .container
        h1= name
        p Welcome to the #{t.name}
        .row
          #matches.col-md-6
              h2 Matches
              table.table.table-striped
                tr
                  th Match
                  th Score
                each m in t.matches
                  +matchrow(m)
          #standings.col-md-6
              h2 Standings
              table.table.table-striped
                tr
                  th #
                  th Player
                  th Matches Won
                  th Matches Lost
                  th Sets Won
                  th Sets Lost
                each p,o in t.getPlayerRank()
                    +standingsrow(p,o)
          
          #endmatch.modal.fade.bs-modal-lg
              .modal-dialog.modal-lg
                .modal-content
                    .row: .col-md-12.winnerwrapper
                        h1#winner Winner
                        img(src="/machoman.png" width="100%")
                        
          
          #scoreboard.modal.fade.bs-modal-lg
              .modal-dialog.modal-lg
                .modal-content
                  .match
                    .row
                      #home.col-md-6.col-xs-6
                        .home_text: h1 
                            span#hometext Home : 
                            span#home_score 0
                        .home_scores
                          h2.home.set1 0
                          h2.home.set2 -
                          h2.home.set3 -
                      #away.col-md-6.col-xs-6
                        .away_text: h1 
                            span#awaytext Away : 
                            span#away_score 0
                        .away_scores
                          h2.away.set1 0
                          h2.away.set2 -
                          h2.away.set3 -

          #pastScore.modal.fade.bs-modal-lg
              .modal-dialog.modal-lg
                .modal-content
                  .match
                    .row
                      #pastHome.col-md-6.col-xs-6
                        .home_text: h1 
                            span#pastHomeText Home : 
                            span#pastHome_score 0
                        .home_scores
                          h2.home.set1 0
                          h2.home.set2 -
                          h2.home.set3 -
                      #pastAway.col-md-6.col-xs-6
                        .away_text: h1 
                            span#pastAwayText Away : 
                            span#pastAway_score 0
                        .away_scores
                          h2.away.set1 0
                          h2.away.set2 -
                          h2.away.set3 -
                          
        script
            |   window.SLUG = '#{t.slug}'
                          
  block scripts
    script(src="//code.jquery.com/jquery-1.10.2.min.js")
    script(src="/js/bootstrap.js")
    script(src="/js/tourney.js")

