extends layout
mixin matchrow(playerone, playertwo)
  tr
    td: a #{playerone} VS #{playertwo}
    td tbd
mixin standingsrow(player, order)
  tr
    td= order+1
    td= player.name
    td= player.record.matches.won
    td= player.record.matches.lost
    td= player.record.sets.won
    td= player.record.sets.lost
    

block content
    .container
        h1= Tournament
        p Welcome to the #{name}
        .row
          #matches.col-md-6
              h2 Matches
              table.table.table-striped
                tr
                  th Match
                  th Score
                each m in matches
                  +matchrow(m.home, m.away)
          #standings.col-md-6
              h2 Standings
              table.table.table-striped
                tr
                  th #
                  th Player
                  th Matches Won
                  th Matches Lost
                  th Sets Won
                  th Sets Lost
                each p,o in players
                    +standingsrow(p,o)
                    
                