extends layout
mixin matchrow(match)
  tr
    td: a #{match.home} VS #{match.away}
    
    td 
        if match.sets.length
            span #{match.get("winner")}
        else
            button.start.btn.btn-primary Start Match 
mixin standingsrow(player, order)
  tr
    td= order+1
    td= player.name
    td= player.record.matches.won
    td= player.record.matches.lost
    td= player.record.sets.won
    td= player.record.sets.lost
    

block content
    .container
        h1= name
        p Welcome to the #{name}
        .row
          #matches.col-md-6
              h2 Matches
              table.table.table-striped
                tr
                  th Match
                  th Score
                each m in matches
                  +matchrow(m)
          #standings.col-md-6
              h2 Standings
              table.table.table-striped
                tr
                  th #
                  th Player
                  th Matches Won
                  th Matches Lost
                  th Sets Won
                  th Sets Lost
                each p,o in players
                    +standingsrow(p,o)
          
          .modal.fade.bs-modal-lg
              .modal-dialog.modal-lg
                .modal-content
                  .match
                    .row
                      #home.col-md-6.col-xs-6
                        .home_text: h1 Home : 
                            span#home_score 0
                        .home_scores
                          h2.home.set1 0
                          h2.home.set2 -
                          h2.home.set3 -
                      #away.col-md-6.col-xs-6
                        .away_text: h1 Away : 
                            span#away_score 0
                        .away_scores
                          h2.away.set1 0
                          h2.away.set2 -
                          h2.away.set3 -
                          
        script
            |   window.SLUG = '#{slug}'
                          
  block scripts
    script(src="//code.jquery.com/jquery-1.10.2.min.js")
    script(src="/js/bootstrap.js")
    script(src="/js/tourney.js")
